* {
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  text-decoration: none;
  color: #bdc1c6;
  background-color: #202124;
}

body {
  overflow-x: hidden;
}

#logo {
  top: 5px;
  width: 100px;
  margin-right: 100%;

}

#title {
  font-size: 18px;
  color: lightcoral;
  margin: 25px;
}

.search_item {
  margin: 10px;
  width: 500px;
  height: 25px;
  border-width: 1px;
  border-color: #bdc1c6;
}